
a:visited {
  text-decoration: none;
  color: black;
}
a:link {
  text-decoration: none;
  color: black;
}

body {
  margin-left: 3em;
  margin-top: 2em;
  font-size: 1.5em;
  font-color: black;
}

.navbar {
  display: flex;
  flex-basis: content;
  justify-content: center;
  gap: 0.5em;
  font-size: 2em;
  margin-bottom: 2em;
}
.title {
  display:flex;
  justify-content: center;
}
.musicwrapper {
  display:flex;
  flex-direction: column;
}
.music {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 4.5em;
}

.tracks {
  display:flex;
  /* flex-grow: 1; */
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  /* gap: 2em; */
}
.track {
  margin: 0;
}

.musicControl {
  align-self: flex-end;
}
